<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ppc_tp_final_lopez">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.temaApp">
        <activity android:name="com.example.ppc_tp_final_lopez.Screen5Activity"></activity>
        <activity android:name="com.example.ppc_tp_final_lopez.Screen4Activity" />
        <activity android:name="com.example.ppc_tp_final_lopez.Screen3Activity" />
        <activity android:name="com.example.ppc_tp_final_lopez.Screen2Activity" />
        <activity android:name="com.example.ppc_tp_final_lopez.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>